.card-wrapper {
    position: relative;
}

.card {
    min-width: 140px;
    padding: 16px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
}




.bg-card {
    border-radius: 8px;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.bg-card::before {
    background-image: linear-gradient(165deg, var(--start-color), var(--end-color));
    border: 12px solid transparent;
    background-clip: padding-box;
    content: "";
    filter: blur(36px);
    height: 100%;
    opacity: .8;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.bg1 {
    animation: bt-bg1_oleen 8s infinite;
}

.bg1::before {
    --start-color: #00dfd8;
    --end-color: #007cf0;
}

.bg2 {
    animation: bt-bg2_oleen 8s infinite;
}

.bg2::before {
    --start-color: #ff0080;
    --end-color: #7928ca;
}


.bg3 {
    animation: bt-bg3_oleen 8s infinite;
}

.bg3::before {
    --start-color: #6382ff;
    --end-color: #d69cff;
}



@keyframes bt-bg1_oleen {

    0%, 16.667%, 100% {
        opacity: 0.25;
    }

    33%, 83.333% {
        opacity: 0;
    }

}
@keyframes bt-bg2_oleen {

    0%, 16.667%, 66.667%, 100% {
        opacity: 0;
    }

    33.333%, 50% {
        opacity: 0.25;
    }

}
@keyframes bt-bg3_oleen {

    0%,
    50%,
    100% {
        opacity: 0;
    }

    66.667%,
    83.333% {
        opacity: 0.25;
    }

}