@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  
  
  .card {
    color: rgb(88 199 250 / 80%);
    box-shadow: 0px 5px 15px rgba(56, 69, 76, 0.1);
  }
  
  
  .card::before {
    position: absolute;
    content: "";
    
    z-index: -1;
    height: 40vh;
    width: 65vh;
    margin: 0 auto;
    transform: scale(1.2);
    filter: blur(5vh);
    background-image: linear-gradient(
      var(--rotate)
      , #5ECBF2 30%, #57BE93 60%, #7286C0 30%);
      opacity: 0.3;
    transition: opacity .2s;
    animation: spin 6s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  